nav a{
    color:black;
    transition: 0.5;
    text-decoration: none;
    font-family:serif;

}
footer{
    text-align:center!important;
    background-color:black !important;
    color:blanchedalmond;
    padding: 10px;
}